#content{
	margin-top: 88px;
}
table th{
	background: #e5412d;
}
table{
	border-right: 1px solid #efefef;
}
table tbody tr:hover{
	background: #7c7c7c;
}
table td{
	border-bottom: 1px solid #efefef;
	border-left: 1px solid #efefef;
	text-align: center;
}
td .ipt{
	width: 100px;
	height: 30px;
	line-height: 30px;
	outline: none;
}
.product .img-box{
	float: right;
}
.product{
	
}
